.menu-icon {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin-bottom: 5px;
}
.understand-section {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 40px;
}
.understand-heading {
  font-size: 16pt;
}
.bad-section,
.good-section {
  display: flex;
  flex-direction: column;
  color: red;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}
.good-section {
  color: green;
}

.bad-section {
  color: red;
}
