.hero-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
    background: url('../images/silverdesignheader.png') no-repeat center center/cover;
    color: #1E0D31; /* Dark text color */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns content to the start (left) */
    padding: 0 3rem; /* Add padding to ensure text doesn't touch the edges */
  }
  
  .hero-text {
    text-align: left;
    max-width: 40%; /* Limit width to prevent stretching */
  }
  
  .main-heading {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .sub-heading {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
    margin: 0;
  }
  