.container {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin: 20px;
  }
  
  .menu-section {
    width: 250px;
    margin-right: 20px;
    border-top: 5px solid #4caf50;
  }
  
  .menu {
    padding: 20px;
    border: 1px solid #ddd;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .icon {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
  .menu-icon {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin-bottom: 5px;
  }
  
  .menu-icon::after,
  .menu-icon::before {
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin-top: 5px;
  }
  
  .note {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    width: 250px;
  }
  
  .note-icon {
    height: 34px;
    margin-right: 10px;
    display: flex;
    flex-shrink: 0;
  }
  
  .comparison-section {
    width: 100px;
    padding-top: 10px;
    margin-left: 100px;
    border-top: 5px solid #ff3e3e;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .comparison-menu {
    border: 1px solid #ddd;
    padding: 30px 0 0 20px;
  }
  