.page-container {
  padding: 20px;
  width: 90%;
}

.page-title {
  font-size: 2rem;
  color: #1E0D31; 
  margin-bottom: 20px;
}

.section {
  margin-bottom: 40px;
}

.section-title {
  font-size: 1.5rem;
  color: #1E0D31; 
  margin-top: 20px;
  margin-bottom: 10px;
}

.section-content {
  font-size: 1rem;
  color: #343a40; 
  margin: 0 10px 0 0;
}

.horizontal-rule {
  border: 0;
  border-top: .5px solid #1E0D31; 
  margin: 20px 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}
.note {
  display: flex;
  align-items: flex-start;
  padding: 10px 0px;
}
.do,
.dont{
  color:white;
  padding:2px 12px;
  border-radius:10px;
  align-self: baseline;
}
.do{
  background-color: green;

}
.dont{
  background-color: red;
}

@media screen and (max-width: 768px) {
  .page-container {
    margin-top:20px;
    padding: 10px;
    width: 100%;
  }
}
.example-item {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  max-width:35%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 8px;
}